
.side-stays{
    position: sticky;
    top:0px;
    left: 50px;
    
  }
  
  .side-stays div h1 span{
    text-transform: capitalize;
  }
  .button {
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
 
  .side-map{
    position: fixed;
    height: 90vh;
    width:45%;
    margin-left:-180px;
    margin-top:55px;
    
  }
  .error{
    height: 500px;
    color: black;
    text-shadow: 2px 2px 5px red;
    text-align: center;
    margin-top: 150px;
    font-weight: bold;
    font-size: 100px;
    font-family: "Times New Roman", Times, serif;
  }
 
  
  